@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

p {
	color:#006699;
	background-color: #abcdef;
	font-size: 20px;
	font-family: "맑은 돋움", "돋움";
}
h1 {
	color: #006699;
	font-size: 40px;
	font-family: "Jeju Gothic", "맑은 고딕", "고딕", Gothic;
}

#header{
	max-width: 1200px;
	background-color: #006699;
	margin: auto;
}

.menu a{
	background-color: #006699;
	color: #ffffff;
	font-size: 32px;
	font-family: "Hanna", "맑은 고딕", "고딕", Gothic;
}