@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

p {
	color:#123456;
	border-style: dotted;
	border-radius: 7px;
	margin: 5px;
	border-color: #abcdef;
	font-size: 18px;
	font-family: "맑은 고딕", "고딕", Gothic;
}

a{
	color:#006699;
	font-weight: bold;
}

h1 {
	color: #006699;
	font-size: 40px;
	font-family: "Jeju Gothic", "맑은 고딕", "고딕", Gothic;
}

#header{
	height: 67px;
	width:1000px;
	margin: auto;
	background-color: #006699;
}

#tail{
	width:1000px;
	margin: auto;
	color: #006699;
	font-size: 12px;
	text-align: right;
}

.menu{
	margin: auto;
	float: left;
	line-height: 67px;
	text-align: middle;
	background-color: #006699;
	height: 67px;
	width: 200px;
	color: #ffffff;
	font-size: 32px;
	font-family: "Hanna", "맑은 고딕", "고딕", Gothic;
}