@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

p {
	color:#123456;
	border-style: dotted;
	border-radius: 7px;
	margin: 5px;
	padding: 5px;
	text-align: justify;
	border-color: #abcdef;
	font-size: 15px;
	font-family: "맑은 고딕", "고딕", Gothic;
}

a{
	color:#006699;
	font-weight: bold;
	text-decoration: none;
}

h1 {
	color: #006699;
	font-size: 40px;
	font-family: "Jeju Gothic", "맑은 고딕", "고딕", Gothic;
	margin: 3px;
}

#header{
	height: 67px;
	width:1000px;
	margin:0 auto;
	background-color: #006699;
}

#tail{
	width:970px;
	margin:0 auto;
	color: #006699;
	font-size: 12px;
	text-align: right;
	float: none;
	padding:15px;
	border-width: 1px;
	border-color: #abcdef;
	border-style: solid;
	margin-top: 20px;
}

#content{
	width:1000px;
	margin:0 auto;
}

.menu{
	margin: auto;
	float: left;
	line-height: 67px;
	text-align: middle;
	background-color: #006699;
	height: 67px;
	width: 200px;
	color: #ffffff;
	font-size: 32px;
	font-family: "Hanna", "맑은 고딕", "고딕", Gothic;
}
.menu:hover{
	margin: auto;
	float: left;
	line-height: 67px;
	text-align: middle;
	background-color: #006699;
	height: 67px;
	width: 200px;
	color: #ddeeff;
	font-size: 32px;
	font-family: "Hanna", "맑은 고딕", "고딕", Gothic;
}

.nowmenu{
	margin: auto;
	float: left;
	line-height: 67px;
	text-align: middle;
	background-color: #ffffff;
	height: 67px;
	width: 200px;
	color: #006699;
	font-size: 32px;
	font-family: "Hanna", "맑은 고딕", "고딕", Gothic;
}